# Pandas project extra material

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/Users/adrian/Downloads/attacks.csv')

In [3]:
# df.Age.unique()
# df[df.Age.str.contains(r'\&', na=False)][['Age']]
df_ages = pd.concat([df[['Case Number', 'Age']], df.Age.str.extract(r'\D*(?P<Age1>\d+)\s\&\s(?P<Age2>\d+).*')], axis=1)
# Incluimos 'Case Number' a modo de referencia
# check:
df_ages[~df_ages.Age1.isnull()]

       Case Number             Age Age1 Age2
698   2013.03.10.a         28 & 26   28   26
1506  2006.01.28.R         46 & 34   46   34
1508    2006.01.23     28, 23 & 30   23   30
1743  2003.09.14.b         36 & 26   36   26
2026    2000.08.10         23 & 20   23   20
2511    1993.01.04         32 & 30   32   30
3459    1968.08.24          9 & 12    9   12
3742    1963.08.00         23 & 26   23   26
3880  1961.09.02.R         33 & 37   33   37
3998    1960.04.14  21, 34,24 & 35   24   35
4009    1960.02.29         30 & 32   30   32
4035    1959.12.28         50 & 30   50   30
4039    1959.12.11         17 & 35   17   35
4078    1959.08.02         34 & 19   34   19
4118    1959.01.02         33 & 26   33   26
4587    1947.01.14         17 & 16   17   16
4999    1932.01.06         36 & 23   36   23

In [4]:
# Melt columns Age, Age1 and Age2 into new column NewAgeLOL
# New column 'variable' keeps track of where each value comes from (can be renamed with variable_name='something')
df_ages_melted = df_ages.melt(id_vars='Case Number', value_vars=['Age', 'Age1', 'Age2'], value_name='NewAgeLOL')
# Filter
df_ages_melted = df_ages_melted[~df_ages_melted.NewAgeLOL.isnull()]
# Check
df_ages_melted[df_ages_melted['Case Number']=='1959.01.02']

      Case Number variable NewAgeLOL
4118   1959.01.02      Age   33 & 26
29841  1959.01.02     Age1        33
55564  1959.01.02     Age2        26

In [5]:
# Remove columns with original Age
# (we could have done the melt just with Age1 and Age2, but I wanted you to learn how it works)
df_ages_melted = df_ages_melted[df_ages_melted.variable!='Age']
# Check we have 2 obs per case
df_ages_melted.groupby('Case Number').size()
# Ok
df_ages_melted.groupby('Case Number').size().shape[0]

17

In [6]:
# There 34 people grouped in 17 cases
# Let's merge!
df.shape[0]
# 25723
df = df.merge(df_ages_melted, on='Case Number', how='left')
df.shape[0]
# 25740 = 25723 + 17 --> OK!!

25740

Finally, you just have to make a new variable Age_final with the values of NewAgeLOL when they're not NA and Age otherwise.

And don't forget the rest of substitutions (teenager, young, etc)