 # Hyperparameter Tuning - Feature engineering

![nohayjupytersingif](https://media.giphy.com/media/jeDM590qtCP9C/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Feature-engineering" data-toc-modified-id="Feature-engineering-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Feature engineering</a></span></li><li><span><a href="#Peque√±a-exploraci√≥n-de-los-datos" data-toc-modified-id="Peque√±a-exploraci√≥n-de-los-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Peque√±a exploraci√≥n de los datos</a></span><ul class="toc-item"><li><span><a href="#Nos-fijamos-en-la-feature-&quot;Cabin&quot;" data-toc-modified-id="Nos-fijamos-en-la-feature-&quot;Cabin&quot;-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Nos fijamos en la feature "Cabin"</a></span></li><li><span><a href="#Analizamos-los-nombres-de-los-pasajeros" data-toc-modified-id="Analizamos-los-nombres-de-los-pasajeros-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Analizamos los nombres de los pasajeros</a></span></li></ul></li><li><span><a href="#Categorical-encoding" data-toc-modified-id="Categorical-encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Categorical encoding</a></span><ul class="toc-item"><li><span><a href="#Label-Encoder" data-toc-modified-id="Label-Encoder-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Label Encoder</a></span></li><li><span><a href="#One-Hot-Encoder" data-toc-modified-id="One-Hot-Encoder-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>One Hot Encoder</a></span></li><li><span><a href="#A-mano-con-un-diccionario-üí°" data-toc-modified-id="A-mano-con-un-diccionario-üí°-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>A mano con un diccionario üí°</a></span></li></ul></li><li><span><a href="#Resumen-hasta-aqu√≠:" data-toc-modified-id="Resumen-hasta-aqu√≠:-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Resumen hasta aqu√≠:</a></span></li><li><span><a href="#Feature-Scaling" data-toc-modified-id="Feature-Scaling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Feature Scaling</a></span><ul class="toc-item"><li><span><a href="#Estandarizaci√≥n" data-toc-modified-id="Estandarizaci√≥n-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Estandarizaci√≥n</a></span></li><li><span><a href="#Normalizaci√≥n" data-toc-modified-id="Normalizaci√≥n-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Normalizaci√≥n</a></span></li><li><span><a href="#Cito-a-Andriy-Burkov:" data-toc-modified-id="Cito-a-Andriy-Burkov:-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Cito a Andriy Burkov:</a></span></li></ul></li><li><span><a href="#Cambiamos-un-poco-las-tornas" data-toc-modified-id="Cambiamos-un-poco-las-tornas-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Cambiamos un poco las tornas</a></span></li><li><span><a href="#Repasamos-Train-Test-Split" data-toc-modified-id="Repasamos-Train-Test-Split-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Repasamos Train Test Split</a></span></li><li><span><a href="#Entreno-varios-modelos-de-regresi√≥n" data-toc-modified-id="Entreno-varios-modelos-de-regresi√≥n-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Entreno varios modelos de regresi√≥n</a></span></li><li><span><a href="#Cross-Validation" data-toc-modified-id="Cross-Validation-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Cross-Validation</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Pasos-si-lo-hiciera-una-vez" data-toc-modified-id="Pasos-si-lo-hiciera-una-vez-9.0.1"><span class="toc-item-num">9.0.1&nbsp;&nbsp;</span>Pasos si lo hiciera una vez</a></span></li></ul></li></ul></li><li><span><a href="#Ajuste-de-hiperpar√°metros" data-toc-modified-id="Ajuste-de-hiperpar√°metros-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Ajuste de hiperpar√°metros</a></span><ul class="toc-item"><li><span><a href="#--Muestreo-aleatorio" data-toc-modified-id="--Muestreo-aleatorio-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>- Muestreo aleatorio</a></span></li><li><span><a href="#--Muestreo-de-cuadr√≠cula" data-toc-modified-id="--Muestreo-de-cuadr√≠cula-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>- Muestreo de cuadr√≠cula</a></span></li><li><span><a href="#--Muestreo-bayesiano" data-toc-modified-id="--Muestreo-bayesiano-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>- Muestreo bayesiano</a></span></li><li><span><a href="#GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!" data-toc-modified-id="GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!</a></span></li><li><span><a href="#Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros" data-toc-modified-id="Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span>Entrenar√≠amos el modelo con los mejores par√°metros</a></span></li></ul></li><li><span><a href="#Salvar-/-Exprotar-el-modelo" data-toc-modified-id="Salvar-/-Exprotar-el-modelo-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Salvar / Exprotar el modelo</a></span></li></ul></div>

##¬†Feature engineering
Es el proceso de utilizar el conocimiento del dominio para extraer caracter√≠sticas de los datos brutos. Estas caracter√≠sticas pueden utilizarse para mejorar el rendimiento de los algoritmos de aprendizaje autom√°tico. La ingenier√≠a de caracter√≠sticas puede considerarse como un aprendizaje autom√°tico aplicado en s√≠ mismo

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##¬†Peque√±a exploraci√≥n de los datos

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.dtypes.sort_values()

PassengerId      int64
Survived         int64
Pclass           int64
SibSp            int64
Parch            int64
Age            float64
Fare           float64
Name            object
Sex             object
Ticket          object
Cabin           object
Embarked        object
dtype: object

In [7]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# Vemos el porcentaje de nulos en cada columna
round(data.isnull().sum().sort_values(ascending=False)/len(data)*100, 2)

Cabin          77.10
Age            19.87
Embarked        0.22
PassengerId     0.00
Survived        0.00
Pclass          0.00
Name            0.00
Sex             0.00
SibSp           0.00
Parch           0.00
Ticket          0.00
Fare            0.00
dtype: float64

### Nos fijamos en la feature "Cabin"

In [9]:
data.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

Hay muchos valores que faltan, pero debemos utilizar la variable del camarote porque puede ser un predictor importante. Como se puede ver en la siguiente imagen, la primera clase ten√≠a los camarotes en la cubierta A, B o C, una mezcla estaba en la D o la E y la tercera clase estaba principalmente en la f o la g. Podemos identificar la cubierta por la primera letra.

![laimagendelbarco](images/barco.png)

In [10]:
# Creamos una nueva columna "Cubierta" bas√°ndonos en la letra del camarote
data["Deck"] = data["Cabin"].apply(lambda x: x[0] if pd.notnull(x) else "M")

In [11]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M

###¬†Analizamos los nombres de los pasajeros

El nombre podr√≠a aportarnos informaci√≥n importante sobre el estatus socioecon√≥mico de un pasajero. Y en funci√≥n del estatus socioecon√≥mico han podido comprar un billete m√°s caro o m√°s barato, que indica un camarote situado en uno u otro lugar del barco. Podemos responder a la pregunta de si alguien est√° casado o no o si tiene un t√≠tulo formal y extraer esa informaci√≥n para generar una nueva variable.

In [12]:
def limpianame(x):
    x = x.split(",")
    x = x[1].split(".")
    return x[0].strip()

In [13]:
data["Title"] = data["Name"].apply(limpianame)

In [14]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M,Mr

In [15]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [16]:
#¬†Para no tener muchas categor√≠as con los t√≠tulos, vamos a quedarnos con los que tienen m√°s de 10

In [17]:
varios = (data.Title.value_counts() > 10)

In [18]:
varios

Mr               True
Miss             True
Mrs              True
Master           True
Dr              False
Rev             False
Major           False
Col             False
Mlle            False
Mme             False
Don             False
Lady            False
Ms              False
Capt            False
Jonkheer        False
Sir             False
the Countess    False
Name: Title, dtype: bool

In [19]:
type(varios)

pandas.core.series.Series

In [20]:
data.Title.value_counts()

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Major             2
Col               2
Mlle              2
Mme               1
Don               1
Lady              1
Ms                1
Capt              1
Jonkheer          1
Sir               1
the Countess      1
Name: Title, dtype: int64

In [21]:
# Hacemos un loc de la columna y si es true, porque es menos de 10, lo identificamos como miscel√°neo
data["Title"] = data["Title"].apply(lambda x: "Misc" if varios.loc[x] == False else x)

In [22]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M,Mr

In [23]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Misc'], dtype=object)

In [24]:
#¬†Hemos agrupado los t√≠tulos con menos de 10 registros en una categor√≠a nueva
data.Title.value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Misc       27
Name: Title, dtype: int64

In [25]:
# Borramos las columnas que vamos a querer despreciar porque ya hemos trabajado con ellas o no nos aportan informaci√≥n.

In [26]:
borrar = ["Name", "PassengerId", "Cabin", "Ticket"]

In [27]:
data = data.drop(borrar, axis=1)

In [28]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Deck Title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

Solo nos queda la columna Age con nulos ... Vamos a rellenarlos, pero explorando los datos.... ¬øtienen la misma edad de media los hombres que las mujeres?

In [29]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Deck          0
Title         0
dtype: int64

In [30]:
# Agrupamos por sexo y edad para ver las medianas de ambas agrupaciones
display(data.groupby(["Sex"])["Age"].mean())

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [31]:
datos = data.groupby(["Sex"])["Age"].mean()

In [32]:
datos.sort_values(ascending=False)

Sex
male      30.726645
female    27.915709
Name: Age, dtype: float64

In [33]:
# Agrupamos adem√°s por cubierta para tener en cuenta tambi√©n el estatus socioecon√≥mico
display(data.groupby(["Sex", "Deck"])["Age"].median())

Sex     Deck
female  A       48.0
        B       29.5
        C       35.0
        D       47.0
        E       33.0
        F       26.5
        G       14.0
        M       25.0
male    A       40.0
        B       36.0
        C       38.0
        D       36.5
        E       46.0
        F       19.0
        M       27.0
        T       45.0
Name: Age, dtype: float64

Por ajustarnos un poco m√°s, vamos a rellenar los NaN de la edad con la mediana pero en funci√≥n de su sexo y tambi√©n en funci√≥n de la cubierta.

In [34]:
data["Age"] = data.groupby(["Sex", "Deck"])["Age"].apply(lambda x: x.fillna(x.median()))

In [35]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Deck Title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

In [36]:
data.Age.isnull().sum()

0

In [37]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
Deck        0
Title       0
dtype: int64

In [38]:
data.dropna(axis=0, inplace = True)

In [39]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Deck        0
Title       0
dtype: int64

## Categorical encoding

Con una linea de import en nuestro c√≥digo, se abren posibilidades nuevas en opciones a como modelar o manipular nuestro dataset.

Anteriormente comentamos en el post de dummies la posibilidad de generar con la funci√≥n get_dummies() y transformar cada dato no num√©rico en una representaci√≥n binaria ( expandiendo nuestro dataset a la cantidad de datos distintos que existan en una columna).

###¬†Label Encoder
Pros y contras
- Si tenemos categor√≠as que tienen valor en s√≠ mismas, como "bueno, malo, regular" lo ideal ser√≠a no dejar que LabelEncoder lo haga de forma autom√°tica si no aplicarlo nosotras a mano, ya que el valor que ponemos puede influir en el peso que el algoritmo le da a esas variables.

In [40]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [41]:
# Creamos una columna nueva que es "embarked_n" con la transformaci√≥n a num√©rica de las categor√≠as

In [42]:
data["Embarked_n"] = le.fit_transform(data["Embarked"])

In [43]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,Embarked_n
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2

In [44]:
# Hacemos lo mismo con sex, a trav√©s de LabelEncoder
data["Sex_n"] = le.fit_transform(data["Sex"])

In [45]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,Embarked_n,Sex_n
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2,1
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0,0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2,0
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2,0
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2,1

In [46]:
#Recordemos que labelencoder nos pone n√∫meros donde tenemos categor√≠as empezando por 0 e incrementando

In [47]:
data.drop(["Embarked", "Sex"], axis=1, inplace=True)

In [48]:
data.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Deck Title  Embarked_n  Sex_n
0         0       3  22.0      1      0   7.2500    M    Mr           2      1
1         1       1  38.0      1      0  71.2833    C   Mrs           0      0
2         1       3  26.0      0      0   7.9250    M  Miss           2      0
3         1       1  35.0      1      0  53.1000    C   Mrs           2      0
4         0       3  35.0      0      0   8.0500    M    Mr           2      1

### One Hot Encoder

Ahora bien, como ya hemos comentado, dependiendo de los datos que tengamos, podr√≠amos encontrarnos con situaciones en las que, tras la codificaci√≥n de las etiquetas, podr√≠amos confundir a nuestro modelo haci√©ndole creer que una columna tiene datos con alg√∫n tipo de orden o jerarqu√≠a, cuando claramente no lo tenemos. Para evitar esto, "OneHotEncode" esa columna.
Lo que hace una codificaci√≥n en caliente es que toma una columna que tiene datos categ√≥ricos, que ha sido codificada con etiquetas, y luego divide la columna en m√∫ltiples columnas. Los n√∫meros son reemplazados por 1s y 0s, dependiendo de qu√© columna tiene qu√© valor.

In [49]:
# Vamos a hacer lo mismo con los t√≠tulos pero con OneHotEncoder, que nos crear√° diferentes columnas
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Misc'], dtype=object)

In [50]:
#Creamos una lista con lo que van a ser los nombres de las columnas
labels = ["Title_" + a for a in list(data.Title.unique())]

In [51]:
labels

['Title_Mr', 'Title_Mrs', 'Title_Miss', 'Title_Master', 'Title_Misc']

In [52]:
# Importamos el one hot encoder
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()

In [53]:
#Hacemos el fit transform y nos guardamos los array de datos en una variable
title = onehotencoder.fit_transform(data["Title"].values.reshape(-1,1)).toarray()

In [54]:
#A√±adimos al dataframe todas las columnas a la vez
data[labels] = pd.DataFrame(title,index = data.index)

In [55]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Title,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,22.0,1,0,7.2500,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,C,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,26.0,0,0,7.9250,M,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,35.0,1,0,53.1000,C,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,35.0,0,0,8.0500,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0

In [56]:
# La columna Title ya no nos hace falta.
# Ras mira esto

###¬†A mano con un diccionario üí°
Podremos otorgarle un valor num√©rico a cada categor√≠a y decidimos su importancia

In [57]:
dic_para_hot = {"M": 1,
                "C": 6,
                "E": 4,
                "G":2,
                "D":5,
                "A":8,
                "B":7,
                "F":3 ,
                "T":0
               }

In [58]:
"""
Creamos las categor√≠as a mano, podr√≠amos darle un orden de importancia a las letras y poner
mayor puntuaci√≥n o menor en funci√≥n de la relaci√≥n que tenga esa variable con la variable target.
"""

'\nCreamos las categor√≠as a mano, podr√≠amos darle un orden de importancia a las letras y poner\nmayor puntuaci√≥n o menor en funci√≥n de la relaci√≥n que tenga esa variable con la variable target.\n'

In [59]:
# Con un map reemplazamos todas las strings de la columna Deck por el valor asignado en el diccionario
data.Deck = data.Deck.map(dic_para_hot)

In [60]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Title,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,22.0,1,0,7.2500,1,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,6,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,26.0,0,0,7.9250,1,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,35.0,1,0,53.1000,6,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,35.0,0,0,8.0500,1,Mr,2,1,0.0,0.0,0.0,1.0,0.0

In [61]:
data.drop("Title", axis=1, inplace=True)

In [62]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc
0,0,3,22.0,1,0,7.2500,1,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,6,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,26.0,0,0,7.9250,1,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,35.0,1,0,53.1000,6,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,35.0,0,0,8.0500,1,2,1,0.0,0.0,0.0,1.0,0.0

## Resumen hasta aqu√≠:
- Nos enfrentamos a un dataset para prepararlo para hacer ML
- Limpieza
- Exploraci√≥n de los datos
- ¬øQu√© hacemos con los NaN?
- Resolvemos con feature engineering
- Agrupaci√≥n de categor√≠as 
- Feature extraction : Hemos extra√≠do datos de una columna que a priori era el nombre de la persona y no nos dec√≠a nada.
- Rellenar NaN (Reflexionamos ¬ømediana o media? ¬øAgrupamos por sexo? 
- Categorical encoding: sustituimos variables categ√≥ricas (LabelEncoder,OneHotEncoder,A mano con un diccionario)

##¬†Feature Scaling

Algunos algoritmos, especialmente los que se basan en c√°lculos de distancia, dar√°n m√°s peso a las caracter√≠sticas que muestren grandes cambios de valor, interpretando estas caracter√≠sticas como artificialmente m√°s importantes. Para estos algoritmos, es importante que escalemos nuestros rasgos, o que pongamos en la misma escala rasgos con escalas naturalmente diferentes, para que los rasgos sean utilizados por el algoritmo sin una sobreponderaci√≥n artificial, y permita comparar dos rasgos con escalas diferentes.      
Hay dos tipos diferentes de escalamiento de caracter√≠sticas que vamos a explorar:

### Estandarizaci√≥n   
En la estandarizaci√≥n, imponemos varias propiedades estad√≠sticas a la variable: el valor medio se fija en 0, y la desviaci√≥n est√°ndar se fija en 1. Esto se consigue restando la media de cada valor de la caracter√≠stica y dividiendo por la desviaci√≥n est√°ndar. Esto tambi√©n se llama a veces "normalizaci√≥n de la puntuaci√≥n z". 

Entonces, ¬øqu√© significa esto, en la pr√°ctica, sobre los datos estandarizados? Como podemos ver a continuaci√≥n, ahora tenemos las distribuciones de ambas variables centradas alrededor de la media cero, con una desviaci√≥n est√°ndar de 1. Como estamos imponiendo esta desviaci√≥n est√°ndar, la normalizaci√≥n reduce los efectos de los valores at√≠picos en la caracter√≠stica. Adem√°s, permite comparar dos caracter√≠sticas con escalas o unidades diferentes. Las diferentes escalas de las caracter√≠sticas se reflejar√≠an estad√≠sticamente en diferencias tanto en la media como en la desviaci√≥n est√°ndar. La estandarizaci√≥n de estos dos n√∫meros entre caracter√≠sticas elimina la influencia de estas diferencias de escala.

La estandarizaci√≥n es especialmente importante en situaciones en las que utilizamos algoritmos que asumen que las caracter√≠sticas de nuestros datos se distribuyen en una 'curva de campana' o una distribuci√≥n gaussiana, como la regresi√≥n lineal y log√≠stica.

In [63]:
"""
En este dataset no nos enfrentamos a un problema de regresi√≥n si no de clasificaci√≥n,
pero vamos a hacer un ejemplo de estandarizaci√≥n en una columna para ver el c√≥digo
"""
from sklearn.preprocessing import StandardScaler

In [64]:
scaler = StandardScaler()

In [65]:
#¬†Machaco la columna fare ojo a la sintaxis si le paso una serie values.reshape
data["Fare"] = scaler.fit_transform(data["Fare"].values.reshape(-1,1))

In [66]:
#¬†HAGO LO MISMO pero pas√°ndole la colummna del dataframe
data["Fare2"] = scaler.fit_transform(data[["Fare"]])

In [67]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc,Fare2
0,0,3,22.0,1,0,-0.500240,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.500240
1,1,1,38.0,1,0,0.788947,6,0,0,0.0,0.0,0.0,0.0,1.0,0.788947
2,1,3,26.0,0,0,-0.486650,1,2,0,0.0,0.0,1.0,0.0,0.0,-0.486650
3,1,1,35.0,1,0,0.422861,6,2,0,0.0,0.0,0.0,0.0,1.0,0.422861
4,0,3,35.0,0,0,-0.484133,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.484133

In [68]:
type(data[["Survived"]])

pandas.core.frame.DataFrame

### Normalizaci√≥n

En la otra forma de escalado de caracter√≠sticas, llamada normalizaci√≥n, la caracter√≠stica se reescala a un rango entre 0 y 1, sin ning√∫n cambio en su distribuci√≥n original dentro de ese rango. Matem√°ticamente, esto se consigue restando el valor m√≠nimo de la caracter√≠stica a cada valor de la misma, y dividiendo por la diferencia entre el valor mayor y el valor m√≠nimo. 

Dado que calculamos el valor normalizado utilizando los valores m√°ximo y m√≠nimo de la caracter√≠stica, esta t√©cnica se denomina a veces "normalizaci√≥n min-max".      
La normalizaci√≥n es m√°s √∫til en los casos en que sus datos tienen pocos valores at√≠picos pero rangos muy variables, usted no sabe c√≥mo se distribuyen sus datos, o sabe que no se distribuyen en una curva de campana (gaussiana). Generalmente se aplica con algoritmos que no hacen suposiciones sobre las distribuciones de las caracter√≠sticas.

In [69]:
from sklearn.preprocessing import MinMaxScaler

In [70]:
min_max = MinMaxScaler()

In [71]:
data["Age"] = min_max.fit_transform(data[["Age"]])

In [72]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc,Fare2
0,0,3,0.271174,1,0,-0.500240,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.500240
1,1,1,0.472229,1,0,0.788947,6,0,0,0.0,0.0,0.0,0.0,1.0,0.788947
2,1,3,0.321438,0,0,-0.486650,1,2,0,0.0,0.0,1.0,0.0,0.0,-0.486650
3,1,1,0.434531,1,0,0.422861,6,2,0,0.0,0.0,0.0,0.0,1.0,0.422861
4,0,3,0.434531,0,0,-0.484133,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.484133

###¬†Cito a Andriy Burkov:
Te estar√°s preguntando cu√°ndo se debe utilizar la normalizaci√≥n y cu√°ndo la estandarizaci√≥n. No hay una respuesta definitiva a esta pregunta. Por lo general, si su conjunto de datos no es demasiado grande y tiene tiempo, puede probar ambos y ver cu√°l de ellos se adapta mejor a su tarea.
Si no tiene tiempo para realizar varios experimentos, como regla general:

- Los algoritmos de aprendizaje no supervisado, en la pr√°ctica, se benefician m√°s de la estandarizaci√≥n que de la normalizaci√≥n.      
- La estandarizaci√≥n tambi√©n es preferible para una caracter√≠stica si los valores que √©sta toma se distribuyen cerca de una distribuci√≥n normal (la llamada curva de campana).     
- Una vez m√°s, la normalizaci√≥n es preferible para una caracter√≠stica si a veces puede tener valores extremadamente altos o bajos (valores at√≠picos); esto se debe a que la normalizaci√≥n "exprimir√°" los valores normales en un rango muy peque√±o.       
- En todos los dem√°s casos, es preferible la normalizaci√≥n.      

El reescalado de caracter√≠sticas suele ser beneficioso para la mayor√≠a de los algoritmos de aprendizaje. Sin embargo, las implementaciones modernas de los algoritmos de aprendizaje, que se pueden encontrar en bibliotecas populares, son robustas a las caracter√≠sticas que se encuentran en diferentes rangos..

## Cambiamos un poco las tornas

In [110]:
import pandas as pd
from sklearn.datasets import load_boston

In [111]:
boston_data = load_boston()
boston = pd.DataFrame(boston_data.data, columns = boston_data.feature_names)
boston["MEDV"] = boston_data.target
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [112]:
boston.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [ ]:
# Lista de columnas que voy a usar en la X

In [113]:
columnas_x_bos = [a for a in (list(boston.columns)) if a != "MEDV"]
columnas_x_bos

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT']

In [ ]:
# Me guardo la variable X con todos los datos

In [114]:
X_bos = boston[columnas_x]
X_bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [118]:
# Variable target solo la columna que voy a predecir

In [115]:
y_bos = boston.MEDV
y_bos.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

##¬†Repasamos Train Test Split

In [116]:
from sklearn.model_selection import train_test_split

In [119]:
# Asigno las variables train test split

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X_bos,y_bos, test_size = 0.2)

## Entreno varios modelos de regresi√≥n

In [120]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [121]:
models = { "ridge": Ridge(),
          "lasso": Lasso(),
          "sgd": SGDRegressor(),
          "knn": KNeighborsRegressor(),
          "gradient": GradientBoostingRegressor()
}

In [122]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X_train,y_train)
    print(f"He acabado :)")

Entrenando modelo ---> ridge
He acabado :)
Entrenando modelo ---> lasso
He acabado :)
Entrenando modelo ---> sgd
He acabado :)
Entrenando modelo ---> knn
He acabado :)
Entrenando modelo ---> gradient
He acabado :)

In [126]:
from sklearn import metrics
import numpy as np

In [127]:
#Podemos seguir el mismo proceso para realizar predicciones de cada algoritmo y sacar m√©tricas
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("MAE: ", metrics.mean_absolute_error(y_test, y_pred))
    print("MSE: ", metrics.mean_squared_error(y_test,y_pred))
    print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
    print("R2: ", metrics.r2_score(y_test,y_pred))
    print("\n")

--------ridge--------
MAE:  3.0390051414817862
MSE:  14.484995527639034
RMSE:  3.8059158592432167
R2:  0.7993579996390933


--------lasso--------
MAE:  3.2470980490565715
MSE:  18.611213464955892
RMSE:  4.314071564653963
R2:  0.742202813136716


--------sgd--------
MAE:  115360097471762.05
MSE:  1.4196614462339111e+28
RMSE:  119149546630858.45
R2:  -1.966474286195776e+26


--------knn--------
MAE:  3.3947058823529406
MSE:  21.331792156862743
RMSE:  4.6186353132568
R2:  0.7045181379953339


--------gradient--------
MAE:  1.7714648513923303
MSE:  5.399354700554845
RMSE:  2.3236511572425935
R2:  0.9252096884869411

## Cross-Validation
Leamos un poco la [documentaci√≥n](https://scikit-learn.org/stable/modules/cross_validation.html)

**Wikipedia nos dice**            
La validaci√≥n cruzada o cross-validation es una t√©cnica utilizada para evaluar los resultados de un an√°lisis estad√≠stico y garantizar que son independientes de la partici√≥n entre datos de entrenamiento y prueba. Consiste en repetir y calcular la media aritm√©tica obtenida de las medidas de evaluaci√≥n sobre diferentes particiones. Se utiliza en entornos donde el objetivo principal es la predicci√≥n y se quiere estimar la precisi√≥n de un modelo que se llevar√° a cabo a la pr√°ctica. Es una t√©cnica muy utilizada en proyectos de inteligencia artificial para validar modelos generados.

![kfoldcv](https://scikit-learn.org/stable/_images/grid_search_cross_validation.png)

Cross-Validation: K-fold con 5 splits
Lo que hacemos normalmente al entrenar el modelo es pasarle todos los registros y que haga el fit().      
Con K-Folds -en este ejemplo de 5 splits- para entrenar, en vez de pasarle todos los registros directamente al modelo, haremos as√≠:

**Iterar 5 veces:**      
- Apartaremos 1/5 de muestras
- Entrenamos al modelo con el restante 4/5 de muestras
- Mediremos el r2 obtenido sobre las que hab√≠amos apartado.
- Esto quiere decir que hacemos 5 entrenamientos independientes.
- El R2 final ser√° el promedio de las 5 R2 anteriores.

In [128]:
from sklearn.linear_model import LinearRegression

In [129]:
lr = LinearRegression()

#### Pasos si lo hiciera una vez
--> train test split (X_train, y_train, X_test, y_test)       
--> entrenar√≠a elmodelo #lr.fit(X_train,ytrain)       
--> sacar√≠a predicciones #y.pred = lr.predict(X_test)       
--> medir√≠a mi modelo #metrica(y_test,y_pred)

In [130]:
from sklearn.model_selection import cross_val_score

In [131]:
scores = cross_val_score(lr, X_train, y_train, scoring="r2", cv=5)

In [132]:
scores

array([0.62254184, 0.7612718 , 0.64084272, 0.64800971, 0.73287139])

In [133]:
print(np.mean(scores))

0.6811074925645635

In [134]:
#¬†Sacamos el cross_val_score en bucle 
for name, model in models.items():
    scores = cross_val_score(model, X_train, y_train, scoring="r2", cv=5)
    print(f"{name} R2 {np.mean(scores)}")

ridge R2 0.6787672045426966
lasso R2 0.6314986651216706
sgd R2 -1.2846585148461807e+26
knn R2 0.45549632848966065
gradient R2 0.8612906005812612

## Ajuste de hiperpar√°metros

¬øQu√© es el ajuste de hiperpar√°metros?
Los hiperpar√°metros son par√°metros ajustables que permiten controlar el proceso de entrenamiento de un modelo. Por ejemplo, con redes neuronales, puede decidir el n√∫mero de capas ocultas y el n√∫mero de nodos de cada capa. El rendimiento de un modelo depende en gran medida de los hiperpar√°metros.
El ajuste de hiperpar√°metros, tambi√©n denominado optimizaci√≥n de hiperpar√°metros es el proceso de encontrar la configuraci√≥n de hiperpar√°metros que produzca el mejor rendimiento. Normalmente, el proceso es manual y costoso desde el punto de vista computacional.

Hay diferentes t√©cnicas para elegir este ajuste de hiperpar√°metros:     
    
### - Muestreo aleatorio    
El muestreo aleatorio admite hiperpar√°metros discretos y continuos. Admite la terminaci√≥n anticipada de las series de bajo rendimiento. Algunos usuarios realizan una b√∫squeda inicial con muestreo aleatorio y luego restringen el espacio de b√∫squeda para mejorar los resultados.
En el muestreo aleatorio, los valores de hiperpar√°metro se seleccionan aleatoriamente del espacio de b√∫squeda definido.

### - Muestreo de cuadr√≠cula
El muestreo de cuadr√≠cula admite hiperpar√°metros discretos. Use el muestreo de cuadr√≠cula si su presupuesto le permite buscar en el espacio de b√∫squeda de manera exhaustiva. Admite la terminaci√≥n anticipada de las series de bajo rendimiento.

### - Muestreo bayesiano   
El muestreo bayesiano se basa en el algoritmo de optimizaci√≥n bayesiano. Escoge las muestras en funci√≥n de c√≥mo lo hicieron las anteriores, para que las nuevas muestras mejoren la m√©trica principal.
 Para obtener los mejores resultados, se recomienda que el n√∫mero m√°ximo de series sea mayor o igual que 20 veces el n√∫mero de hiperpar√°metros que se est√° optimizando.
El n√∫mero de series simult√°neas afecta a la eficacia del proceso de ajuste. Un menor n√∫mero de series simult√°neas puede provocar una mejor convergencia de muestreo, dado que el menor grado de paralelismo aumenta el n√∫mero de series que se benefician de las series completadas previamente.

Vamos a ver el ajuste de hiperpar√°metros en cuadr√≠cula con GridSearchCV pero os dejo que investigu√©is el muestreo bayesiano con [HyperOpt](https://towardsdatascience.com/hyperopt-hyperparameter-tuning-based-on-bayesian-optimization-7fa32dffaf29)

###¬†GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!
Y leed la [documentaci√≥n](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)

In [73]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,Embarked_n,Sex_n,Title_Mr,Title_Mrs,Title_Miss,Title_Master,Title_Misc,Fare2
0,0,3,0.271174,1,0,-0.500240,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.500240
1,1,1,0.472229,1,0,0.788947,6,0,0,0.0,0.0,0.0,0.0,1.0,0.788947
2,1,3,0.321438,0,0,-0.486650,1,2,0,0.0,0.0,1.0,0.0,0.0,-0.486650
3,1,1,0.434531,1,0,0.422861,6,2,0,0.0,0.0,0.0,0.0,1.0,0.422861
4,0,3,0.434531,0,0,-0.484133,1,2,1,0.0,0.0,0.0,1.0,0.0,-0.484133

In [76]:
columnas_x = [a for a in list(data.columns) if a not in ["Survived",  "Fare2"]]
columnas_x

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Deck',
 'Embarked_n',
 'Sex_n',
 'Title_Mr',
 'Title_Mrs',
 'Title_Miss',
 'Title_Master',
 'Title_Misc']

In [78]:
X = data[columnas_x]
y = data.Survived

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state = None)

In [83]:
#Hiperpar√°metros tuneables de RandomForest
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [88]:
#Reducimos para hacer la prueba con diferentes n_estimators
params = {
     'n_estimators': [400, 600,800]
}

In [84]:
from sklearn.model_selection import GridSearchCV

In [85]:
from sklearn.ensemble import RandomForestClassifier

In [86]:
# Guaardo en una variable raandom forest
rfc = RandomForestClassifier()

In [89]:
# Guardo el grid search con el algoritmo, los par√°metros y verbose paraa que muestre info del proceso
grid = GridSearchCV(rfc,  params, verbose=1)
# entreno el grid con los datos de train
grid.fit(X_train,y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'n_estimators': [400, 600, 800]}, verbose=1)

In [90]:
# Imprimo los mejores par√°metros que me ha dado el modelo
print(grid.best_params_)

{'n_estimators': 400}

###¬†Entrenar√≠amos el modelo con los mejores par√°metros

Si en GridSearchCV() se indica refit=True, tras identificar los mejores hiperpar√°metros, se reentrena el modelo con ellos y se almacena en .best_estimator_.

In [ ]:
#¬†Entreno

In [94]:
best = grid.best_params_
best

{'n_estimators': 400}

In [93]:
rf_params = RandomForestClassifier(**best)

In [99]:
rf_params.fit(X_train, y_train)

RandomForestClassifier(n_estimators=400)

In [100]:
y_pred =rf_params.predict(X_test)

In [101]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [102]:
print ("Accuracy", round(accuracy_score(y_test,y_pred),3))
print("Precission",round(precision_score(y_test,y_pred, average = "weighted"),3))
print("Recall", round(recall_score(y_test,y_pred, average = "weighted"),3))
print("F1_score", round(f1_score(y_test,y_pred,average= "weighted"),3))

Accuracy 0.848
Precission 0.848
Recall 0.848
F1_score 0.848

##¬†Salvar / Exprotar el modelo
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [103]:
import pickle

In [105]:
#¬†save the model to disk
pickle.dump(rf_params, open("mi mejor modelo", "wb"))

In [106]:
# load the model from disk
load = pickle.load(open("mi mejor modelo", "rb"))

In [108]:
load.predict(X_test)

array([0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0])