# Regular expresions (RegEx)

- Online regex tester: https://regex101.com
- w3schools: https://www.w3schools.com/python/python_regex.asp
- re module documentation: https://docs.python.org/3/library/re.html

### Sintaxis

- **Literals** `a` 
- **Alternation** `a|b`
- **Character sets** `[ab]`, `[^ab]`
- **Wildcards** `.`
- **Escape special characters** `\` (?,*,+,^,&)
- **Ranges** `[a-d]`, `[1-9]`
- **Character classes** `\w`, `\d`, `\s`, `\n`, `\W`, `\D`, `\S`
- **Quantifiers** `{2}`, `{2,}`, `{2,4}`, `?`, `*`, `+`
- **Grouping** `()`
- **Anchors** `^`, `$`

### Methods

- **re.findall()**
- **re.sub()**
- **re.search()**
- **re.match()**
- **re.split()**

In [ ]:
import re

In [ ]:
text = "Pepe, Pepa and Luis are 22, 34, and 56 years old, respectively?"

In [ ]:
# literals
# re.sub

In [ ]:
# alternation

In [ ]:
# character sets

In [ ]:
# wildcards

In [ ]:
# escape special characters

In [ ]:
# ranges
# re.findall

In [ ]:
# character classes

In [ ]:
# quantifiers

In [ ]:
# grouping
# re.search

In [ ]:
# anchors

In [ ]:
# re.search
# re.match

In [ ]:
# re.split

### Let's practice

You work for a very big company and you are assigned the task of verifying information from the 200 most important clients in Europe for a meeting with the board of directors in an hour. Execute the code below to see your dataframe.

In [ ]:
# loading dataframe
import pandas as pd
a = pd.read_csv('db.csv')
display(a)

Oh no! It seems that one of the interns has messed up the `.csv` file, there is no backup, and you are to blame. In order to keep your job, you must find a way to restore the original data. But wait! There is no time to go through all the data manually. Good thing you know how to use `regular expressions`.

First of all, lets import the `regex` library and load our text file to a variable.
This is the data we must retrieve back:
- name
- phone
- email
- date
- contract_value
- creditcard
- country
- postalcode
- address

In [ ]:
import re

In [ ]:
with open('db.csv') as file:
    db = file.read()
print(db)

In [ ]:
#name

In [ ]:
#phone

In [ ]:
#email

In [ ]:
#date

In [ ]:
#contract_value

In [ ]:
#creditcard

In [ ]:
#country

In [ ]:
#postal code

### Another case cleaning a csv

In [ ]:
import re
import pandas as pd

In [ ]:
raw_table =  """A Coruña 1973 413 1562 303 18.93 3.69
Álava 2118 360 1670 259 18.31 4.49
Albacete 1348 279 1051 171 18.34 4.15
Alicante 1328 212 1063 177 18.01 4.59
Almería 1242 323 974 245 18.80 3.60
Asturias 1729 285 1386 215 18.68 3.53
Ávila 1123 222 939 222 12.50 6.21
Badajoz 1276 252 998 193 19.74 4.63
Balears (Illes) 1963 239 1581 240 17.31 9.04
Barcelona 2709 632 2272 497 14.11 6.00
Burgos 1653 413 1311 318 18.52 3.30
Cáceres 1351 286 1046 247 21.41 6.81
Cádiz 1750 619 1409 478 17.39 4.27
Cantabria 2014 411 1628 321 17.16 3.77
Castellón 1174 309 889 197 20.46 5.13
Ceuta 2258 242 1927 260 14.85 5.07
Ciudad Real 1199 361 967 310 15.91 4.43
Córdoba 1450 296 1169 202 16.63 4.54
Cuenca 1267 447 1014 275 16.88 7.13
Girona 1935 328 1502 228 20.67 5.68
Granada 1592 344 1235 203 18.99 5.51
Guadalajara 1368 387 1125 324 15.81 4.82
Guipúzcoa 3855 861 3083 526 16.89 4.46
Huelva 1194 220 964 178 17.03 4.91
Huesca 1486 259 1136 122 22.26 6.10
Jaén 1357 390 1026 286 20.31 3.88
La Rioja 1415 346 1086 269 19.96 5.18
Las Palmas 1643 277 1362 217 14.27 4.53
León 1480 320 1100 218 22.78 4.67
Lleida 1193 347 907 274 21.65 3.75
Lugo 1554 325 1188 239 20.53 3.37
Madrid 2605 542 2316 459 9.88 5.22
Málaga 1714 205 1404 169 16.07 5.23
Melilla 1776 127 1573 134 11.57 8.57
Murcia 1338 421 969 254 23.07 5.33
Navarra 1971 455 1587 302 16.22 4.98
Ourense 1725 364 1203 182 25.44 5.06
Palencia 1481 259 1108 182 22.42 4.67
Pontevedra 1805 191 1398 111 19.16 5.31
Salamanca 1796 354 1395 237 20.51 4.89
Santa Cruz de Tenerife 1591 348 1338 269 13.52 3.76
Segovia 1568 358 1275 255 15.53 4.13
Sevilla 1799 395 1498 289 14.43 3.94
Soria 1441 389 1143 333 19.25 4.03
Tarragona 1570 401 1246 352 17.80 5.74
Teruel 1414 323 1166 331 19.99 12.01
Toledo 1273 511 1057 486 16.39 4.21
València 1508 448 1175 289 18.22 5.81
Valladolid 1505 368 1194 312 18.55 3.77
Vizcaya 2916 485 2457 440 14.96 3.19
Zamora 1355 278 1029 190 19.64 4.76
Zaragoza 1637 452 1305 373 17.99 4.27"""

Taken from [here](https://cris.maastrichtuniversity.nl/ws/portalfiles/portal/53635161/RM20029.pdf)

In [ ]:
# first_semicol = re.sub(r"(\D)\s(\d)", r"\1;\2", raw_table)
first_semicol = re.sub(r"(\D+)\s", r"\1;", raw_table)

In [ ]:
no_space_table = re.sub(r"(.)\s(\d)", r"\1;\2", raw_table)

In [ ]:
df = pd.DataFrame([x.split(';') for x in no_space_table.split('\n')])

In [ ]:
df.columns = ['provincia', 'a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
df

In [ ]:
prov = df['provincia']

In [ ]:
prov.str.extract?

In [ ]:
df = pd.read_csv('data/test_titanic.csv')

In [ ]:
# df.Name.str.extract(r'')
# df.Name.str.extract(r'(),()')
# df.Name.str.extract(r'(?P<surname>),(P<name>)')
# df.Name.str.extract(r'(?P<surname>.+),(?P<name>.+)')
# df.Name.str.extract(r'(?P<surname>.+),(?P<name>.+)')[['name', 'surname']]
df_names = df.Name.str.extract(r'(?P<surname>.+), (?P<title>Mr\.|Mrs\.|Ms\.|Master\.)*(?P<name>.+)')#[['title', 'name', 'surname']]

In [ ]:
df_names[df_names.name.str.match(r'.*\..*')]

In [ ]:
df_names = df.Name.str.extract(r'(?P<surname>.+), (?P<title>Mr\.|Mrs\.|Ms\.|Master\.|Miss\.)*(?P<name>.+)')[['title', 'name', 'surname']]

In [ ]:
df_names[df_names.name.str.match(r'.*\..*')]

In [ ]:
df_names = df.Name.str.extract(r'(?P<surname>.+), (?P<title>.+\.)*(?P<name>.+)')[['title', 'name', 'surname']]

In [ ]:
df_names[df_names.name.str.match(r'.*\..*')]

In [ ]:
df_names

In [ ]:
df_names.groupby('surname').size().where(lambda x: x>1).dropna()

What's the difference between a single-series df and a series

In [ ]:
df_names['n_names'] = df_names.groupby('surname').transform('count')

In [ ]:
df_names

BTW. Who was [Dona. Fermina Oliva y Ocana](https://es.wikipedia.org/wiki/Fermina_Oliva_y_Oca%C3%B1a)?

In [ ]:
df_names[df_names.n_names>1].sort_values('surname')